#bt{
    width: 50%;
    padding: 1px;
    margin: 10px;
    height: 50px;
    align-self: center;
    border-radius: 5px;

}

.container{
    width: 1700px;
    height: 50px;
    border: 2px;
    background-color: aquamarine;
}
#inner{
    background-color: rgb(244, 14, 14);
    position: absolute;
    width: 30px;
    height: 50px;
}